@use "../../../../styles.scss" as global;

$text-light: #fff;

.pokemon-type-pill {
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;

  // Generate a class for every type
  @each $type, $color in global.$types-colors {
    &--#{$type} {
      background-color: $color;
      color: $text-light;
    }
  }
}
