.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__page {
    background-color: #eee;
    padding: 1.5rem 1rem;
    border-radius: 50%;
  }

  &__middle-content {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin: 0 3rem;
  }

  &__from-to {
    font-weight: bold;
  }
}
