.input {
  min-width: 100%;
  padding: 0.8rem 1rem;

  border: none;
  border-radius: 0.5rem;

  &:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #1b4af0;
  }

  &__label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
