<section id="pokemon-grid" class="container pokemon-grid">
  <header>
    <div class="pokemon-grid__title-container">
      <h3 class="pokemon-grid__title title">Lista pokémon</h3>
    </div>

    <pagination
      [itemsPerPage]="itemsPerPage"
      [currentPage]="page"
      [prevDisabled]="page === 0"
      (onNext)="onNextHandler()"
      (onPrev)="onPrevHandler()"
    ></pagination>
  </header>

  <div
    class="pokemon-grid__cards-container"
    *ngIf="pokemonList$ | async as pokemonList"
  >
    <pokemon-card
      *ngFor="let pokemon of pokemonList"
      [pokemon]="pokemon"
    ></pokemon-card>
  </div>

  <div *ngIf="(error$ | async) !== ''">
    <p>ERRORE</p>
    <pre>{{ error$ | async }}</pre>
  </div>
</section>
