@use "../../../../../styles.scss" as global;

.details-hero {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__back-btn {
    position: absolute;
    top: 5rem;
    left: 5rem;

    text-decoration: none;
  }

  &__top-content {
    display: flex;
    align-items: center;
    gap: 2rem;

    &--left {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__height-and-weight,
  &__bio,
  &__gender {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
    min-width: 250px;
    max-width: 300px;

    .details-hero__height,
    .details-hero__weight {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    div:not(div:first-child) {
      margin-top: 1rem;
    }
  }

  &__bio {
    p {
      margin-top: 1rem;
    }
  }

  &__gender {
    &-boxes {
      border-radius: 0.5rem;
      background-color: #ffbbc6;
      height: 30px;
    }

    &-box {
      background-color: #5353ff;
      border-radius: 0.5rem;
      border-radius: 0.5rem;
      color: #fff;
      min-height: 100%;
      font-size: 0.9rem;
      padding: 0.25rem 0.5rem;

      display: flex;
      align-items: center;
    }
  }

  &__waves {
    position: absolute;
    bottom: 0;
    z-index: 0;

    min-width: 100vw;

    @each $type, $color in global.$types-colors {
      &--#{$type} {
        background-color: darken($color, 20%);
      }
    }
  }
}
